<script type="text/javascript">
(function ($) {
   RED.nodes.registerType('{{ node.name }}Cfg', {
      category: 'config',
      hasUsers: false,
      defaults: {
         name: { value: "" },
         data: { value: "" }
      },
      paletteLabel: '{{ node.name }}Cfg',
      label: function () {
         return this.name;
      }
  });
})(jQuery);
</script>

<!-- The html for the config node info panel (in right sidebar) -->
<script type="text/x-red" data-template-name="{{ node.name }}Cfg">
   <p>{{{ node.summary }}}</p>
   {{{ node.description }}}
</script>
