<script type="text/javascript">
(function(){

  function frontendSupportFunction() {
  }

  var functTwo = (arg) => {

  };
  
  RED.nodes.registerType('{{ node.name }}',{
    color: '{{ node.color }}',
    icon: "{{{ node.icon }}}",
    category: '{{ node.category }}',
    defaults: {
      name: {
        value:"",
      },
    },

    {{#node.hasinput}}
    inputs: 1,
    {{/node.hasinput}}
    {{^node.hasinput}}
    inputs: 0,
    {{/node.hasinput}}

    outputs: {{ node.outputcount }},

    label: function() {
      return (this.name || this._def.paletteLabel);
    },

    labelStyle: function() {
      return this.name?"node_label_italic":"";
    },

    onpaletteadd: function() {
    },

    oneditprepare: function() {
    },

    oneditcancel: function() {
    },

    oneditsave: function() {
    },

    {{#node.hasbutton}}
    button: {
      enabled: function() {
        return !this.changed
      },

      onclick: function () {
        if (this.changed) {
          return RED.notify(RED._("notification.warning", {
            message: RED._("notification.warnings.undeployedChanges")
          }), "warning");
        }
        /* here goes the button code to be executed on click */
      }
    },
    {{/node.hasbutton}}

  });
})();
</script>

<script type="text/html" data-template-name="{{ node.name }}">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name"/>
    </div>
</script>

<script type="text/html" data-help-name="{{ node.name }}">
  <p>{{ node.summary }}</p>
  {{ node.description }}
</script>
